<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Создать квиз</title>
</head>
<body>

<main class="container mt-5">
    <h1 class="text-center mb-4">Создать квиз</h1>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 px-3">
            <div class="list-group">
                <a th:href="@{/quiz/new/manual}" class="list-group-item list-group-item-action">
                    Ручное создание квиза
                </a>
                <a th:href="@{/quiz/new/import}" class="list-group-item list-group-item-action">
                    Импорт квиза из файла
                </a>
            </div>
        </div>
    </div>
</main>

</body>
</html>
