<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::main})}">
<head>
    <title th:text="${quiz.title}">Quiz Details</title>
</head>
<body>

<main class="container mt-5">
    <h1 th:text="${quiz.title}" class="text-center"></h1>
    <p class="text-center text-muted">Создатель: <span th:text="${quiz.creatorName}">Автор</span></p>
    <p class="text-center">Этот квиз содержит <span th:text="${quiz.questions.size()}">0</span> вопросов. Попробуйте пройти!</p>

    <div class="text-center mt-4">
        <form th:action="@{'/quiz/' + ${quiz.id} + '/start'}" method="post">
            <button type="submit" class="btn btn-success btn-lg">Начать тест</button>
        </form>
        <a href="/quiz" class="btn btn-secondary mt-3">Вернуться назад</a>
    </div>
</main>

</body>
</html>
